body {
    background-image: url(/home/josh/Projects/Art_Website/background_image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

 .home-button {
    display: inline;
 }
 .home-button:hover {
   
 }
 .main-header {
text-align: center;
text-transform: uppercase;
color: white;
font-size: 125px;
font-family: 'Times New Roman', Times, serif;
padding-top: 450px;
transform: rotate(10deg);
width: max-content;
padding-left: 350px;
 }
 .main-description {
color: white;
font-size: 35px;
display: block;
width: 500px;
padding: 20px;
 }
.store-button {
display: inline;
text-transform: uppercase;
background-color: black;
padding: 1.5em 2.5em;
border-radius: 20px;
text-decoration: none;
margin-left: 150px;
}
.store-button:hover {
text-decoration: none;
}
a {
   text-decoration: none;
   color: white;
}



